<% include partials/header %>
<%if(data.response_code!=200){%>
<h3>Data Not Available, or Site is under maintanence</h3>
<%};%>
<%if(data.response_code==200){%>
<table>
<tr>
<td>Train&nbsp</td><td><%=data.train.name%></td>
<td><strong><%=data.train.number%></strong></td>
</tr>
<tr>
<td>From <%=data.from_station.name%>&nbsp</td> 
<td>&nbspTo&nbsp<%=data.to_station.name%></td>
</tr>
<tr>
<td><strong>Total Fare</strong></td>
<td>Rs.<strong><%=data.fare%>.00&nbsponly</strong></td>
</tr>
<tr>
<td>Quota</td><td><%=data.quota.name%></td>
</tr>
<tr>
<td>Journey Class&nbsp</td><td><%=data.journey_class.name%></td>
</tr>
</table>
<hr>
<h4>Class Availibility</h4>
<%for(var j=0;j<data.train.classes.length;j++){%>
<%if(data.train.classes[j].available=="Y"){%>
&nbsp<%=data.train.classes[j].name%>
&nbsp<%=data.train.classes[j].code%>,&nbsp
<%}};%>
<h4>Available Days</h4>
<%for(var k=0;k<data.train.days.length;k++){%>
<%if(data.train.days[k].runs=="Y"){%>
&nbsp<%=data.train.days[k].code%>
<%if(k<(data.train.days.length)-1){%>,
<%}}};%>
<%};%>
<% include partials/footer %>